:root{
    --body-color:#FBFCFC;
}

body{
    background:var(--body-color);
    font-family: 'Tangerine', serif;
    /* font-size:48px; */
}

.main-container{
    text-align:center;
    margin-top:6rem;
}

.title{
    font-size:48px;
    color:#F39C12;
}

.content{
    margin-top:5rem;
    display:grid;
    font-size:20px;
    /* margin-left:40rem; */
}

.question{
    background:#D7DBDD;
    width:40rem;
    margin-left:20rem;
    border-radius:5px;
    height:10rem;
    margin-bottom:4px;
    /* display:flex; */
}

.question1{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:1rem;
    /* border-bottom:1px solid grey; */
    position:relative;
    /* border-style:ridge; */
}

.question1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%; /* Adjust this to control the "length" of the bottom border */
    border-bottom: 1px solid grey;
    transform: translateX(-50%);
  }


.question2{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:2rem;
    position:relative;
    /* border-bottom:1px solid; */
}

.question2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%; /* Adjust this to control the "length" of the bottom border */
    border-bottom: 1px solid grey;
    transform: translateX(-50%);
  }



.question3{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:2rem;
    position:relative;
}

.question3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50%; /* Adjust this to control the "length" of the bottom border */
    border-bottom: 1px solid grey;
    transform: translateX(-50%);
  }

.btn{
   position:relative;
   left:19rem;
   cursor:pointer;
    border-radius:1px;
    border-color:#F5B041;
}

.minus{
    position:relative;
    top:1.5rem;
    left:19rem;
    cursor:pointer;
    border-radius:1px;
    border-color:#F5B041;
    display:none;
   
}
.answer-text{
    margin-top:-15px;
    display:none;
}

.show-text .answer-text{
    display:block;
}

.show-text .minus{
    display:inline;
}

.show-text .btn{
    display:none;
}

@media(max-width:885px){
    .title{
        margin-left:20rem;
    }
    .content{
        margin-left:-10rem;
    }
}

@media(max-width:430px){
    .title{
        margin-left:5rem;
    }
    .content{
        margin-left:-25rem;
        /* width:20%; */
    }
    body{
        
    }
}
@media(min-width:880px){
    .content{
        margin-left:20rem;
    }
    p{
        font-size:40px;
    }
}