:root{
    --body-color:#FBFCFC;
}

body{
    background:var(--body-color);
    font-family: 'Tangerine', serif;
    /* font-size:48px; */
}

.main-container{
    text-align:center;
    margin-top:6rem;
}

.title{
    font-size:48px;
    color:#F39C12;
}

.content{
    margin-top:5rem;
    display:grid;
    font-size:20px;
}

.first{
    background:#D7DBDD;
    width:40rem;
    margin-left:20rem;
    border-radius:5px;
    height:10rem;
    /* display:flex; */
}

.question1{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:1rem;
    /* border-bottom:1px solid grey; */
    position:relative;
    /* border-style:ridge; */
}

.question1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30%; /* Adjust this to control the "length" of the bottom border */
    border-bottom: 1px solid grey;
    transform: translateX(-50%);
  }

.second{
    background:#D7DBDD;
    width:40rem;
    margin-left:20rem;
    margin-top:20px;
    border-radius:5px;
    height:10rem;
    /* display:flex; */
}

.question2{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:2rem;
    position:relative;
    /* border-bottom:1px solid; */
}

.third{
    background:#D7DBDD;
    width:40rem;
    margin-left:20rem;
    margin-top:20px;
    border-radius:5px;
    height:10rem;
    /* display:flex; */
}

.question3{
    margin-left:-2rem;
    margin-top:1rem;
    padding-bottom:2rem;
    position:relative;
}
.btn{
   position:relative;
   left:20rem;
   cursor:pointer;
    border-radius:1px;
    border-color:#F5B041;
}

.minus{
    position:relative;
    top:1.5rem;
    left:18rem;
    cursor:pointer;
    border-radius:1px;
    border-color:#F5B041;
   
}
.answer1{
    margin-top:-15px;
}

.answer2{
    margin-top:-15px;
}

.answer3{
    margin-top:-15px;
}

@media(max-width:885px){
    .content{
        margin-left:-10rem;
    }
    .btn{
        position:fixed;
        right:6rem;
    }
}